<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___VARIABLE_productName___.swift</string>
	<key>Description</key>
	<string>Template for Imperio Files</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Imperio</string>
			<key>Description</key>
			<string>Create Imperio standard files</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Basename</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
</dict>
</plist>
